<div class="container animated fadeIn fast">
  <h1>Doctores</h1>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Cédula</th>
            <th scope="col">Especialidad</th>
            <th scope="col">Usuario</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let doctor of doctoresData">
            <th scope="row">{{doctor.nombre}}</th>
            <td>{{doctor.cedula}}</td>
            <td>{{doctor.especialidad}}</td>
            <td>{{doctor.nombreUsuario}}</td>
          </tr>
        </tbody>
      </table>
</div>
