<main class="animated fadeIn">
    <div class="inicio" id="div-fondo"><!--Sección de Inicio-->
        <h1>INICIO</h1>
    </div>

    <div class="servicios"><!--Sección de Servicios-->
        <h1 class="title-servicios" id="div-fondo">NUESTROS SERVICIOS</h1>
        <div class="card-deck">
            <div class="card border-info"> 
                <img class="card-img-top" src="assets/img/analisis-medicos.jpg" alt="">
              <div class="card-body">
                <h4 class="card-title">Análisis Médicos</h4>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam dolorem explicabo rerum porro laborum natus aliquid cumque quaerat impedit vitae.</p>
              </div>
            </div>
            <div class="card border-info">
              <img class="card-img-top" src="assets/img/cita-medica.jpg" alt="">
              <div class="card-body">
                <h4 class="card-title">Citas Médicas Online</h4>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque molestias asperiores quas natus vitae ipsam animi beatae necessitatibus itaque voluptas?</p>
              </div>
            </div>
            <div class="card border-info">
                <img class="card-img-top" src="assets/img/consulta-medica.jpg" alt="">
                <div class="card-body">
                  <h4 class="card-title">Recetas</h4>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci nobis ullam nostrum magni iste eos voluptatem magnam voluptate numquam officia!</p>
                </div>
              </div>
        </div>
      </div>

    <div class="sucursales"><!--Sección de sucursales-->
        <h1>SUCURSALES</h1>  
    </div>

  
</main>
