<main class="animated fadeIn">
  <div class="inicio animated fadeIn"><!--Sección de Inicio-->
    <div class="container row">
        <div class="form-group col" >
            <img src="assets/img/personal.jpg" alt="Personal" width="500px" height="300px" id="imagenInicio">
        </div>
            <div class="form-group col" id="textoInicio">
                <h2 class="text-primary">Bienvenidos a Consultorios Rápidos</h2>
                <h4 class="text-info">Presenta tu petición de la consulta que más te ayude</h4>
                <a class="text-secondary">Somos una empresa profesional preocupada por el buen servicio y trato para nuestros clientes, por eso nos preocupamos por tener nuestro mejor servicio disponible y de la mejor manera.</a>
                <br>
                <br>
                <a class="text-secondary">Tenemos varios servicios en los consultorios, uno es poder sacar analisis al paciente cuando lo requiera, lo único que tiene que hacer es apartar una cita e ir con los requerimientos que se le piden (dependiendo de qué analisis se hará).</a>
                <br>
                <br>
                <a class="text-secondary">El principal es que el paciente pueda apartar su cita médica con los médicos que tienen los consultorios. Al finalizar, dependiendo del dictamen del médico, se le dará una receta médica para que pueda comprar los medicamentos que necesite.</a>
            </div>
        </div>
    </div>

    <div class="servicios"><!--Sección de Servicios-->
        <h1 class="title-servicios" id="div-fondo">NUESTROS SERVICIOS</h1>
        <div class="card-deck">
            <div class="card border-info"> 
                <img class="card-img-top" src="assets/img/analisis-medicos.jpg" alt="">
              <div class="card-body">
                <h4 class="card-title">Análisis Médicos</h4>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam dolorem explicabo rerum porro laborum natus aliquid cumque quaerat impedit vitae.</p>
              </div>
            </div>
            <div class="card border-info">
              <img class="card-img-top" src="assets/img/cita-medica.jpg" alt="">
              <div class="card-body">
                <h4 class="card-title">Citas Médicas Online</h4>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque molestias asperiores quas natus vitae ipsam animi beatae necessitatibus itaque voluptas?</p>
              </div>
            </div>
            <div class="card border-info">
                <img class="card-img-top" src="assets/img/consulta-medica.jpg" alt="">
                <div class="card-body">
                  <h4 class="card-title">Recetas</h4>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci nobis ullam nostrum magni iste eos voluptatem magnam voluptate numquam officia!</p>
                </div>
              </div>
        </div>
      </div>

  
</main>
