<div class="container animated fadeIn fast">
    <div class="row">
        <form class="col s12">
        <h1><i class="fas fa-stethoscope"></i> Registrar Doctor</h1>
        <hr>
        <div class="form-group row">
            <div class="input col-sm-6">
                <label for="nombre"><i class="fas fa-user"></i> Nombre Completo:</label>
                <input id="nombre" type="text" class="form-control" #nombre>
            </div>
        </div>
        <div class="form-group row">
            <div class="input col-sm-6">
                <label for="cedula"><i class="fas fa-file-signature"></i> Cédula: </label>
                <input id="cedula" type="text" class="form-control" #cedula>
            </div>
            <div class="input col-sm-6">
                <label for="especialidad"><i class="fas fa-user-md"></i> Especialidad:</label>
                <input id="especialidad" type="text" class="form-control" #especialidad>
            </div>
        </div>
        <div class="form-group row">
            <div class="input col-sm-6">
                <label for="usuario"><i class="fas fa-id-card"></i> Nombre de Usuario:</label>
                <input id="usuario" type="text" class="form-control" #nombre_usuario>
            </div>
        </div>
        <div class="form-group row">
            <div class="input col-sm-6">
                <label for="password"><i class="fas fa-key"></i> Password:</label>
                <input id="password" type="password" class="form-control" #contra>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-info btn-large"><i class="fas fa-check" (click)="crearDoctor(birth_name.value, cedula.value, contra.value, especialidad.value, nombre.value, nombre_usuario.value)"></i> REGISTRAR</button>
        </div>
        </form>
    </div>
